<h1>Section Heading</h1>
<p>Some text that follows the section heading.</p>

<h2>Section Heading</h2>
<p>Text following the section heading.</p>

<h3>Section of the page</h3>
<p>More text following the heading.</p>

<h4>Subsection of the page</h4>
<p>Body of sub-section.</p>

<h5>Subsection of the page</h5>
<p>Body of the sub-section.</p>