<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <title>{{ _self.title }}</title>
    </head>
    <body>
    {% block body %}{{ yield }}{% endblock %}
    </body>
</html>